@use '../misc/variables' as *;
.nav-bar {
    grid-area: nav-bar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__element {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        aspect-ratio: 1;
        background-color: $lightBlueColor;
        height: 20%;
        border: 2px solid black;
        font-size: clamp(2.5rem, 4.5vw, 6rem);
        transition: background-color 0.3s ease-in-out;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
}

.orange-background {
    background-color: $orangeColor;
}

.answered {
    background-color: limegreen;
}
