@use '../misc/variables' as *;
.result-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkBlueColor;
    opacity: 0.9;
    font-size: clamp(3rem, 2vw, 10rem);
    top: -100vh;
    transition: 0.25s ease-in-out;
    color: $lightBlueColor;
    flex-direction: column;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    // margin-left: 10rem;
}

.answered-questions {
    color: $orangeColor;
}
